.sideBlock{
    padding: 33px 28px;
    width: 350px;

}
.title{
    margin-top: 0;
    color: #0768B5;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 35px;
}
.sideBlock nav{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}
.sideBlock ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.sideBlock li{
    padding: 8px ;
    margin-bottom: 19px;
}
.sideBlock i{
    margin-right: 22px;
}
.sideBlock a{
    text-decoration: none;
    color: black;
}
.sideBlock li:hover{

    background: rgba(47, 159, 248, 0.1);
    border-radius: 0px 37px 37px 0px;
}
.sideBlock a:hover{
    color: #2F9FF8;
}