.article{
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4); /* Параметры тени */

}
.article img{
    border-radius: 10px;

}
.article h3{
    font-size: 25px;
    line-height: 0;
    margin-bottom: 35px;
    color: #2F9FF8;
}
.inHtml{
    box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Параметры тени */
    border-radius: 10px;
    padding: 20px;
    color: black;
    background-color: #dedede;
}
.inHtml img{

}
.article pre{
    border-radius: 5px;
    padding: 3px;
    color: #cd9408;
    background-color: #000000;
}